{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h4>Are you sure you want to delete:</h4>

    <h4 style="text-decoration: underline"> {{ producer.name }} </h4>

    <div class="card-action delete-cancel">
        <form action="" method="POST" style="display: inline-block;">
            {% csrf_token %}
            <input class="btn" type="submit" value="Yes - Delete!" />
        </form>

        <a href="{% url 'producers_detail' producer.id %}" style="display: inline-block;">
            <input class="btn" type="submit" value="Cancel" />
        </a>
    </div>
</div>
{% endblock %}