{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="about">
        <h4>Hello! Welcome to my BeatStars replica!</h4>
        <p>
            <a href="https://www.beatstars.com/">Beatstars</a> is a music marketplace where users can buy & sell beats. 
            <br/>
            <br/>
            They also provide users with a personal page to sell beats in addition to the Beatstars marketplace. 
            <br/>
            <br/>
            My application is modeled after my <a href="https://peterlam.beatstars.com/">personal page</a>.
            <br/>
            <br/>
            Feel free to connect with me on <a href="https://www.linkedin.com/in/plam1216/">LinkedIn</a>!
        </p>
    </div>
</div>
{% endblock %}