{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>My Beats</h3>
    <div class="row">
        <div class="row">
            <div class="col s6 offset-s1 beats-desc-title">
                Title
            </div>
            <div class="col s2 beats-desc-title">
                Genre
            </div>
            <div class="col s1 beats-desc-title">
                BPM
            </div>
            <div class="col s2 beats-desc-title">
                Key
            </div>
        </div>

        <!-- 'curr_user_beats' is passed down from 'mybeats' function in '/main_app.views' -->
        {% for beat in curr_user_beats %}
        <div>
            <a href="{% url 'beats_detail' beat.id %}">
                <div class="row">
                    <div class="col s1">
                        <img src="{{ awsurl }}/{{ beat.image }}" alt="{{ beat.name }}" class="coverart coverart-index" />
                    </div>
                    <div class="col s6">
                        <p class="tracklist track">{{ beat.name }}</p>
                    </div>
                    <div class="col s2">
                        <p class="tracklist track">{{ beat.genre }}</p>
                    </div>
                    <div class="col s1">
                        <p class="tracklist track">{{ beat.bpm }}</p>
                    </div>
                    <div class="col s2">
                        <p class="tracklist track">{{ beat.key }}</p>
                    </div>
            </a>
            <div class="col s12 divider"></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}