{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Tracks</h3>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="row">
            <div class="col s8 offset-s1 beat-index-titles">
                Title
            </div>
            <div class="col s2 beat-index-titles">
                Genre
            </div>
            <div class="col s1 beat-index-titles">
                BPM
            </div>
        </div>
        <!-- 'beats' is passed down from 'beat_index' function in '/main_app.views' -->
        {% for beat in beats %}
        <div>
            <a href="{% url 'beats_detail' beat.id %}">
                <div class="row">
                    <div class="col s1">
                        <img src="{{ beat.cover_art.url }}" alt="{{ beat.name }} coverart"
                            class="coverart coverart-index" />
                    </div>
                    <div class="col s8 tracklist">
                        <p class="tracklist">{{ beat.name }}</p>
                    </div>
                    <div class="col s2">
                        <p class="tracklist">{{ beat.genre }}</p>
                    </div>
                    <div class="col s1">
                        <p class="tracklist">{{ beat.bpm }}</p>
                    </div>
            </a>
            <div class="col s11 offset-s1 divider"></div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
</div>
{% endblock %}